<div class="p-5 mb-7 window rounded-3">
        <div class="container-fluid py-5">
        <p><%= Date.today.strftime("%A, %B %d ") %></p>
          <h1 class="display-5 fw-bold"><%= @data["weather"].first["main"]%></h1>
          <img src="http://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png" />
          <p><%= @data["weather"].first["description"].titleize %></p>
          <h2><%= @data["main"]["temp"].round() %>°C</h2>
          <h4><%= @country %></h4>
      </div>
  </div>