

<%# 
<form class="form-inline my-2">
      <div class="d-flex justify-content-between">
        <input class="form-control mr-sm-2 window p-1" type="search" placeholder="Search a location" aria-label="Search">
        <button class="btn  border ms-n3 window" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
          </button>
      </div>
    </form> %>

    <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter a location" %>
    <%= submit_tag ("Search") %>
    <% end %>

<div class="p-5 mb-7 window rounded-2">
        <div class="container-fluid py-5">
        <p><%= Date.today.strftime("%A, %B %d ") %></p>
          <div class="d-flex justify-content-between">
            <h1 class="display-5 fw-bold"><%= @data["weather"].first["main"]%></h1>
            <h2><%= @response.city %>, <%= @response.province %></h2>
          </div>
          
          <div class="d-flex justify-content-between">
            <img src="http://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png" />
            <h2><%= @response.country %></h2>
          </div>
          
          <p><%= @data["weather"].first["description"].titleize %></p>
          <h2><%= @data["main"]["temp"].round() %>°C</h2>
          <p>Feels Like <%= @data["main"]["feels_like"].round() %>°C</p>
          <h4>Latitude: <%= @data["coord"]["lat"] %></h4>
          <h4>Latitude: <%= @data["coord"]["lon"] %></h4>
      </div>
  </div>